.main-font {
  font-family: 'Roboto', sans-serif !important;
}

.container {
    margin-top: 25px;
}
  
.card {
  margin: 20px 0px;
  height: 100%;
  position: relative;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
  
.card-control {
  margin-bottom: 50px;
  margin-top: 10px;
}
  
.row {
  display: flex;
  flex-wrap: wrap;
}
  
.card-title {
  height: 3rem;
  color: #2f2f2f;
  font-size: 1rem;
  padding: 1rem 0;
  font: Roboto;
}
  
.card h5 {
  border-bottom: 2px solid #c0c0c0;
}
  
.index-profile-img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}
  
.card-body {
  text-align: center;
}
  
.card-text {
  font-size: 1rem;
  height: 80%;
  flex-wrap: wrap;
}
  
.recipe-btn-div {
  text-align: center;
  font: Roboto;
  margin-bottom: 20px;
}
  
.recipe-btn-div .btn {
  height: 40px;
  font: Roboto;
  padding: 10px;
  margin: auto 0;
  border-radius: 5px;
}

.shadow-effect {
  box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.15);
}

.registration {
  margin-top: -75px;
  margin-bottom: 20px;
  color: #2f2f2f;
  font: Roboto;
}

.loginform {
  margin-top: -75px;
  margin-bottom: 20px;
  color: #2f2f2f;
  font: Roboto;
}

.recipe-body {
  font: Roboto, sans serif;
  color: #2f2f2f;
  text-align: center;
}

#addbutton {
  
  background-color: green ;
  color: #e8e8e8;
  border-radius: 5px;
  font: Roboto;
  margin: 10px;
  text-align: center;
}

.recipe-form-subheading {
  color: #2f2f2f ;
  font-size: 30px;
}

#add-recipe-form-title {
  font-size: 25px;
  color: #2f2f2f;
  text-align: center;
}

.form-group{
  font: Roboto;
  font-size: 15px;
  color: #2f2f2f;
}

.form-control {
  border-radius: 15px;
}
.ingredients {
  color:#2f2f2f;
  font-weight: bold;}

.directions {
  color:#2f2f2f;
  font-weight: bold;
}

.extras {
  color:#2f2f2f;
  font-weight: bold;
}

.ordered {
  margin-right: 25px;
  margin-left: 25px;
}

.addrecipe-form-div {
  text-align: center;
  font-size: 15px;
}

.recipe-form-subheading{
  font-size: 20px;
  font-weight: bold;
}
.addrecipe-form-label {
  font-size: 15px;
}
.update{
  text-align: center;
  font-weight: bold;
}

.update-footer #btn {
  background-color: darkgreen;
  color: #e8e8e8;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
}

#confirm-delete-body {
  font: Roboto;
  text-align: center;
  font-size: 15px;
}

.alert-success,
.alert-danger {
  text-align: center;
  color: #e8e8e8;
  border: none;
}

.alert-dismissible,
.alert {
  background-color: transparent!important;
}

.close-alert {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
}