{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        {% for recipe in recipes %}
        <div class="card-control col-lg-4 col-md-6 col-lg-4">
            <div class="card shadow-effect">
                <h5 class="card-title text-center main-font secondary-color">{{ recipe.recipe_name }}</h5>
                <img src="{{ recipe.image_url }}" class="card-img-top index-profile-img" alt="{{ recipe.recipe_name }}">
                <div class="card-body">
                    <p class="card-text main-font">{{ recipe.description }}</p>
                </div>
                <div class="recipe-btn-div">
                    <a class="btn btn-primary" data-toggle="collapse" href="templates/components/full-recipe.html" role="button">Full Recipe</a>
                    {% include 'components/full-recipe.html' %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}