{% extends "base.html" %}
{% block content %}
<div class="update-container">
    <div class="row">
        {% for users_recipe in recipes %}
        {% if session.username|lower == users_recipe.recipe_by|lower or session.username|lower == "admin"|lower %}
        <div class="card-control col-12 col-md-4" id="profilecard">
            <div class="card shadow-effect">
                <h5 class="card-title text-center main-font secondary-color">{{ users_recipe.recipe_name }}</h5>
                <img src="{{ users_recipe.image_url }}" class="card-img-top index-profile-img"
                    alt="{{ users_recipe.recipe_name }}">
                <div class="profile-button-container">
                    <div class="profile-button-div">
                        <a href="#" class="btn btn-success justify-content-center" data-mdb-toggle="modal"
                            data-mdb-target="#modal{{users_recipe._id}}">Update Recipe</a>
                        {% include 'components/update.html' %}
                    </div>
                    {% include 'components/delete.html' %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
</div>
{% endblock %}