<form>
    <div class="form-group">
      <label class="ingredients">Ingredients</label>
      <ul class="unordered" style="list-style-type: none;">
        <li>{{ recipe.ingredients_1 }}</li>
        <li>{{ recipe.ingredients_2 }}</li>
        {% if recipe.ingredients_3 %}
        <li>{{ recipe.ingredients_3 }}</li>
        {% endif %}
        {% if recipe.ingredients_4 %}
        <li>{{ recipe.ingredients_4 }}</li>
        {% endif %}
        {% if recipe.ingredients_5 %}
        <li>{{ recipe.ingredients_5 }}</li>
        {% endif %}
        {% if recipe.ingredients_6 %}
        <li>{{ recipe.ingredients_6 }}</li>
        {% endif %}
        {% if recipe.ingredients_7 %}
        <li>{{ recipe.ingredients_7 }}</li>
        {% endif %}
        {% if recipe.ingredients_8 %}
        <li>{{ recipe.ingredients_8 }}</li>
        {% endif %}
        {% if recipe.ingredients_9 %}
        <li>{{ recipe.ingredients_9 }}</li>
        {% endif %}
        {% if recipe.ingredients_10 %}
        <li>{{ recipe.ingredients_10 }}</li>
        {% endif %}
        {% if recipe.ingredients_11 %}
        <li>{{ recipe.ingredients_11 }}</li>
        {% endif %}
    </ul>
    </div>
    <div class="form-group">
      <label class="directions">Directions</label>
      <ol class="ordered">
        <li> {{ recipe.step_1 }}</li>
        <li> {{ recipe.step_2 }}</li>
        {% if recipe.step_3 %}
        <li> {{ recipe.step_3 }}</li>
        {% endif %}
        {% if recipe.step_4 %}
        <li> {{ recipe.step_4 }}</li>
        {% endif %}
        {% if recipe.step_5 %}
        <li> {{ recipe.step_5 }}</li>
        {% endif %}
        {% if recipe.step_6 %}
        <li> {{ recipe.step_6 }}</li>
        {% endif %}
        <li> {{ recipe.step_7 }}</li>
        {% if recipe.step_8 %}
        <li> {{ recipe.step_8 }}</li>
        {% endif %}
        {% if recipe.step_9 %}
        <li> {{ recipe.step_9 }}</li>
        {% endif %}
        {% if recipe.step_10 %}
        <li> {{ recipe.step_10 }}</li>
        {% endif %}
        {% if recipe.step_11 %}
        <li> {{ recipe.step_11 }}</li>
        {% endif %}
    </ol>
    </div>
    <div class="form-group">
        <label class="extras">Other info</label>
        <ul class="unordered" style="list-style-type: none;">
            <li>Prep Time: {{ recipe.prep_time }}</li>
            {% if recipe.cook_time %}
            <li>Cook Time: {{ recipe.cook_time }}</li>
            {% endif %}
            <li>Total Time: {{ recipe.total_time }}</li>
            <li>Servings: {{ recipe.servings }}</li>
            {% if recipe.cooking_temperature %}
            <li>Cooking Temperature: {{ recipe.cooking_temperature }}</li>
            {% endif %}
        </ul>
      </div>
  </form>